.container {
  margin: 50px;
  width: 400px;
  border: 1px solid #4a67b1;
  padding: 20px;
}

.tab-panel {
  display: flex;
  justify-content: space-between;
}

.form-content {
  padding: 0 20px;
}

.button-panel {
  padding: 10px 20px;
  display: flex;
}

.button-next {
  margin-left: auto;
  background-color: #5a75ba;
  color: white;
  padding: 5px;
  width: 100px;
  border-radius: 5px;  
}

.button-next:disabled {
  background-color: #eee;
  color: black;
}

body {
  background-color: #e9ebee;
}
